---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
---

<Layout title="Contact">
    <Header />
    <main>
        <h1>Page de contact</h1>
    </main>
</Layout>
