---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
---

<Layout title="Über uns">
    <Header />
    <main>
        <h1>Seite über uns</h1>
    </main>
</Layout>
